<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.rolandvitezhu.todocloud"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.rolandvitezhu.todocloud.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="android.app.default.searchable"
            android:value=".MainActivity"/>

        <activity
            android:name="com.rolandvitezhu.todocloud.MainActivity"
            android:configChanges="orientation|screenSize|layoutDirection|locale"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <receiver android:name="com.rolandvitezhu.todocloud.receiver.ReminderReceiver"/>
        <receiver android:name="com.rolandvitezhu.todocloud.receiver.ReminderSetter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name="com.rolandvitezhu.todocloud.service.ReminderService"/>
    </application>

</manifest>
